#create-page {
  > div {
    @extend .lightly-rounded, .page-body;
    max-width: 50rem;
    padding: 2rem;
    background-color: $pleasantBlue;
  }
  form {
    .field {
      margin-bottom: 1rem;
    }

    label {
      display: block;
      color: $headerBlue;
      font-size: 1.1rem;
      font-weight: 600;
    }

    input,
    textarea {
      min-width: 20rem;
      width: 100%;
      max-width: 40rem;
    }

    textarea {
      height: 5rem;
    }
  }
}
