#create-page {
  > div {
    @extend .lightly-rounded, .page-body;
    max-width: 60rem;
    padding: 2rem;
    background-color: $pleasantBlue;
  }
  form {
    .field-container {
      text-align: left;
      margin-bottom: 1rem;
    }

    .inline-message {
      margin-left: 1rem;
    }

    input {
      min-width: 20rem;
      width: 50%;
      max-width: 40rem;
    }

    textarea {
      width: 100%;
    }
  }
}
