#signup-page,
#login-page {
  background-color: $pleasantBlue;
  // background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  box-shadow: 0.6rem 0.6rem 1rem rgb(177, 177, 177);
  color: white;
  width: 28rem;
  height: 32rem;
  margin: 4rem auto;
  padding-top: 4rem;

  a {
    color: lightblue;
  }

  form {
    margin: 1rem;

    .input-fields > div {
      height: 3rem;
    }

    .label-and-message-container {
      display: inline-block;
      * {
        margin: 0;
        display: block;
        text-align: left;
      }
    }

    .inline-message {
      font-size: 0.8rem;
    }

    input {
      width: 15rem;
      vertical-align: top;
    }

    button {
      margin-top: 0.5rem;
    }
  }
}

#signup-page {
  label {
    width: 10rem;
  }
}

#login-page {
  label {
    width: 7rem;
  }
}
