#signup-page,
#login-page {
  background-color: $headerBlue;
  border: 0.2rem solid $pleasantBlue;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgb(133, 133, 133);
  color: white;
  width: 28rem;
  height: 32rem;
  margin: 4rem auto;
  padding-top: 4rem;

  a {
    @extend .clickable;
    color: lightblue;
  }

  form {
    margin: 1rem;

    .field {
      height: 2.8rem;
      margin: 0.2rem;
    }

    .label-and-validation {
      display: inline-block;
      * {
        margin: 0;
        display: block;
        text-align: left;
      }
      .inline-message {
        font-size: 0.8rem;
      }
    }

    input {
      width: 15rem;
    }

    .input {
      display: inline-block;
      vertical-align: top;
    }

    button {
      margin: 0.5rem;
    }
  }
}

#signup-page {
  label {
    width: 10rem;
  }
}

#login-page {
  label {
    width: 7rem;
  }
}
