#app-header {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  background-color: $headerBlue;
  border-bottom: 0.2rem solid $pleasantBlue;
  color: white;
  padding: 1rem;

  h3 {
    text-align: left;
  }

  h1 {
    grid-column: 2 / 3;
    font-size: 2.4rem;
    margin: 0;
  }

  div {
    text-align: right;

    p {
      margin-bottom: 0.2rem;
    }

    button {
      font-size: 0.8rem;
      color: maroon;
    }
  }
}
